PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/payment_db

# Stripe Configuration
# Get your keys from: https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY=sk_test_51RnDNTGhoBwNfpLsVnEgAwUZVIMkXIxUmRGS5PjNPD228Pv78nudkm3pwFSYrQSnvp8Rpw4D95JJ0eFwptsZXR4H00nXG8K1pg
STRIPE_PUBLISHABLE_KEY=pk_test_51RnDNTGhoBwNfpLsIZ8zAkjXIpIuTqlU0QbtTfs6bgo5u63WvEzbn3KeK7pDZzK7qBGuo5XN58jxEOgyQTFyuWrQ00KRIUdMew
STRIPE_WEBHOOK_SECRET=whsec_MONsrH2dSzNMx4Gdk1TrJWF75zNuik68

# Mollie Configuration
# Get your key from: https://www.mollie.com/dashboard/developers/api-keys
MOLLIE_API_KEY=test_E93bjQxc7ufsMzrxPRBVhMzAAPUwTS

# Optional
BASE_URL=http://localhost:3000
